body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.container{
    width: 748px;
    height: 748px;
    background-color: black;
    display: grid;
    grid-template-columns: 320px 198px 153px 50px;
    grid-template-rows: 414px 130px 156px 20px;
    gap: 9px;
}
.item{
    background-color: #F0F1EB;
}
.red{
    background-color: #E72F24;
}
.white1{
    grid-column: span 3;
}
.white2{
    grid-row:span 2 ;
}
.white4{
    grid-row:span 2 ;
}
.white3{
    grid-column: span 2;
    grid-row: span 2;
}
.blue{
    background-color: #004592;
    border-bottom: 10px solid black;
}
.yellow{
    background-color: #F8D11F;
}
.black{
    background-color: #24272A;
}
.hello{
    background-color: red;
}